$bg-color:#f7f7f7;
$font-color:#222;
$primary-color:#2FCCD0;
$secondary-color:#69B3FE;
$icon-size:60px;
.btn-primary{
    background-color:$primary-color!important;
}
h1,h2,h3,h4{
    font-family:sans-serif;
    font-weight: 700;
}
.navbar{
    .nav-link{
        color: #fff!important;
    }
    .active > .nav-link{
        color: $primary-color !important;
        border-bottom: 1px solid $primary-color;
    }
}
#slider-section{
    h4{
        color: #fff!important;
    }
    .carousel-item{
    height: 500px;
    }
    .slider-one{
        background: url('../asset/slide1.jpeg') no-repeat;
        background-size: cover;
    }
    .slider-two{
        background: url('../asset/slide2.jpeg') no-repeat;
        background-size: cover;
    }
    .slider-three{
        background: url('../asset/mountain.jpeg') no-repeat;
        background-size: cover;
    }
}


#homeicon{
    .fas{
        color: $primary-color;
        font-size: $icon-size;
    }
    .icon-hover:hover{
        transition: 1s;
        box-shadow: 2px 3px 5px $primary-color;
    }
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: red;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    }

#getstarted{
    background: url('../asset/getstrated.jpeg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
    position: relative;
    .dark-overlay{
        background: rgba(0,0,0,0.7);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    h3{
        color: #fff!important;
    }
}

#home-vedio{
        background: url('../asset/homevedio.jpeg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        min-height: 250px;
        position: relative;
   
        .dark-overlay{
        background: rgba(0,0,0,0.7);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    .fas{
        font-size: $icon-size;
        color: #FF0000;
    }
 
}

#photo-gallery{
    img{
        min-height: 250px;
        width: 100%;
    }
}
#newsletter{
    h2{
        color: #fff!important;
    }
}
#footer-section{
    background:$primary-color; 
}
/*---====About Page=====---*/
#about-header{
    background: url('../asset/slide2.jpeg') no-repeat center;
    background-size: cover;
    min-height: 250px;
    position: relative;
    h3{
        color: #fff!important;
        
    }
    .dark-overlay{
        background: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
       
    }
}

#about-info{
    img{
        width: 350px;
        height: 350px;
    }
}
#icon-box{
    .fas{
       font-size: $icon-size; 
        color: #fff!important;
    }
    .fab{
       font-size: $icon-size; 
    }
    h3{
        color: #fff;
    }
}
#testimonial{
    .slick-prev::before,
    .slick-next::before{
        color: #000;
    }
  
}
/*======service page======*/
#service-header{
    background: url('../asset/slide3.jpeg') no-repeat center;
    background-size: cover;
    min-height: 250px;
    position: relative;
    h3{
        color: #fff!important;
        
    }
    .dark-overlay{
        background: rgba(0,0,0,0.8);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
       
    }
}
#serviceAccordion{
    h2{
        color: #fff!important;
    }
}
/*==========Blog page=========*/
#blog-header{
        background: url('../asset/slide3.jpeg') no-repeat center;
        background-size: cover;
        min-height: 250px;
        position: relative;
        h3{
            color: #fff!important;

        }
    .dark-overlay{
        background: rgba(0,0,0,0.8);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
       
    }
}
/*==========Contact page=========*/
#contact-header{
        background: url('../asset/slide3.jpeg') no-repeat center;
        background-size: cover;
        min-height: 250px;
        position: relative;
        h3{
            color: #fff!important;

        }
    .dark-overlay{
        background: rgba(0,0,0,0.8);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
       
    }
}
@media(max-width:991px){
 
}
@media(max-width:768px){
    
}
@media(max-width:578px){
    #getstarted{
        min-height: 300px;
    }
  }


@media(max-width:480px){
    .carousel{
        h4{
            font-size: 2.5rem;
        }
    }
      #getstarted{
        min-height: 350px;
          h3{
              font-size: 25px;
          }
    }
}